@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");
body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
}

:root {
  --text-color: hsl(200, 15%, 8%);
  --background: hsl(0, 0%, 98%);
  --background-navigation-bar: hsl(0, 0%, 100%);
  --box-shadow-color: #efefef;
}

.dark-mode {
  --text-color: hsl(0, 0%, 100%);
  --background: hsl(207, 26%, 17%);
  --background-navigation-bar: hsl(209, 23%, 22%);
  --box-shadow-color: #1e2a34;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  transition: background-color 0.3s;
}
a {
  color: var(--text-color);
}

.navigation-bar-container {
  background-color: var(--background-navigation-bar);
  box-shadow: 0 1px 10px 10px var(--box-shadow-color);
}
